* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;

}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #DFE6EB;
    align-items: center;
    padding: 0 202px;
    font-family: 'Pretendard', sans-serif;
}

header > .header-left {
    display: flex;
    gap: 8px;
}

/* 투천 관리자 텍스트 */
header > .header-left > a {
    align-items: center;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 메뉴버튼 */

/* 버튼 색상 및 크기 */
header > .header-right > button {
    font-family: 'Pretendard';
    background-color: #FFFFFF;
    border: solid 1px #DFE6EB;
    border-radius: 6px;
    width: 62px;
    height: 32px;
    cursor: pointer;
}

header > .header-right > button:hover {
  background-color: #F8F8FF; 
  transition-duration: 0.2s;
}
