.dashboard-title {
  padding: 20px 40px;
  font-size: 26px;
  font-weight: 700;
}

.dashboard-card {
  padding: 0 40px;
}

.dashboard-card > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboard-card > ul > li {
  list-style: none;
  width: 450px;
  height: 104px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}

.dashboard-card > ul > li > p {
  padding: 10px 0 20px 20px;
  font-size: 14px;
  font-weight: 400;
}

.dashboard-card > ul > li > span {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 10px 20px;
}

.awaiting-title {
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 500;
}

.awaiting-column {
  padding: 0 40px;
}

.awaiting-column > ul {
  height: 36px;
  font-size: 14px;
  font-weight: 400px;
  display: flex;
  flex-direction: row;
  background-color: #EFF1FA;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
  align-items: center;
}
.awaiting-column > ul > li {
  display: flex;
  justify-content: center;
}
/* 번호 */
.awaiting-column > ul > :nth-child(1) {
    width: 50px;
}
/* 유저 아이디 */
.awaiting-column > ul > :nth-child(2) {
    width: 150px;
}
/* 맛집 이름 */
.awaiting-column > ul > :nth-child(3) {
    width: 150px;
}
/* 주소 */
.awaiting-column > ul > :nth-child(4) {
    width: 250px;
}
/* 카테고리 */
.awaiting-column > ul > :nth-child(5) {
    width: 60px;
}
/* 설명 */
.awaiting-column > ul > :nth-child(6) {
    width: 200px;
}
/* 사진 등록 */
.awaiting-column > ul > :nth-child(7) {
    width: 250px;
}
/* 영업시간 */
.awaiting-column > ul > :nth-child(8) {
    width: 300px;
}
/* 승인관리 */
.awaiting-column > ul > :nth-child(9) {
    width: 250px;
}

/* ~~~~~승인 리스트들~~~~~ */


/* 각 행 전체 */
.awaiting-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E1E1E1;
  list-style: none;
  height: 56px;
  padding: 0 10px;
  justify-content: space-between;

}

.awaiting-item:hover {
  background-color: #F8F8FF;
  transition-property: background-color;
  transition-duration: 0.2s;
}

/* 대기목록 정렬 */
.awaiting-item > form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.awaiting-item li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 번호 */
.awaiting-item li:nth-child(1) {
  width: 50px;
}

/* 유저 아이디 */
.awaiting-item li:nth-child(2) {
  width: 150px;
}

/* 맛집 이름 */
.awaiting-item li:nth-child(3) {
  width: 150px;
}

/* 주소 */
.awaiting-item li:nth-child(4) {
  width: 250px;
}

/* 카테고리 */
.awaiting-item li:nth-child(5) {
  width: 60px;
}

/* 설명 */
.awaiting-item li:nth-child(6) {
  width: 200px;
}

/* 사진등록 */
.awaiting-item input:nth-child(7) {
  width: 250px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 0 10px;
}

/* 영업시간 */
.awaiting-item li:nth-child(8) {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* padding: 0 10px; */
}

.awaiting-item li:nth-child(8) input[type="time"] {
  width: 145px;
  /* padding: 3px 5px; */
  border: 1px solid #808080;
  border-radius: 8px;
  height: 40px;
}

/* 승인 or 거절 버튼 */
.approval-btns {
  width: 250px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.approve-btn, .reject-btn {
  width: 70px;
  height: 32px;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.approve-btn {
  background-color: #006FFF;
}

.reject-btn {
  background-color: #F44336;
}

.pagination {
  display: flex;
  justify-content: end;
  height: 42px;
  margin-top: 20px;
  gap: 10px;
  padding: 0 40px;
}

.pagination > a {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F8FF;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination > .on {
  background-color: #006FFF;
  color: #FFFFFF;
}