* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #DFE6EB;
    align-items: center;
    padding: 0 5vw;
}

header > .header-left {
    display: flex;
    gap: 8px;
}

/* 헤더의 투데이천호 텍스트 */
header > .header-left > p {
    font-family: 'Pretendard';
    width: 198px;
    height: 28px;
    font-weight: 700;
}

/* 헤더의 로고 아이콘 */
header > .header-left > .logo-icon {
    display: inline-block;
    width: 16px;
    height: 24px;
    background-image: url("../image/toodayChoen-Marker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 메뉴버튼 */
header > .header-right > a {
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
}

/* 버튼 색상 및 크기 */
header > .header-right > button {
    font-family: 'Pretendard';
    background-color: #FFFFFF;
    border: solid 1px #DFE6EB;
    border-radius: 6px;
    width: 62px;
    height: 32px;
    cursor: pointer;
}

/* 푸터 부분 */
footer {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 85px;
    border-top: 1px solid #DFE6EB;
    align-items: center;
    padding: 0 5vw;
    color: #555555;
    font-size: 15px;
}

footer > .footer-left {
    font-family: 'Pretendard';
    
}

/* 개인정보처리방침, 이용약관, 문의하기 */
footer > .footer-middle a {
    font-family: 'Pretendard';
    display: inline-block;
    margin: 0 10px;
}

/* 아이콘 영역 크기*/
footer > .footer-right {
    width: 152px;
}

/* 아이콘에 클릭 */
footer > .footer-right > i {
    cursor: pointer;
}

/* 1. 링크트리 아이콘 크기와 이미지 경로 */
footer > .footer-right > .linktree-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../image/github-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 2. 깃허브아이콘 크기와 이미지 경로  */
footer > .footer-right > .github-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../image/github-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}