main {
    display: flex;                  
    justify-content: space-between; 
    align-items: flex-start;
    gap: 40px;
    max-width: 1440px;              
    margin: 50px 250px;
    box-sizing: border-box;
}

.section-left {
    width: 590px;
    height: 728px;
}

/* 왼쪽구역 상단 제목칸 */
.section-left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 38px;
    border: 1px solid #DFE6EB;
    border-radius: 30px;
    margin: 0 auto; 
}

.section-left-title > .google-marker {
    display: inline-block;
    width: 12px;
    height: 18px;
    background-image: url("../image/toodayChoen-Marker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.section-left-title > span {
    font-size: 14px;
    font-weight: 400;
}

.section-left > p {
    width: 476px;
    height: 50px;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.section-left > p span {
    margin: 0 10px;
    color: #5599FF;
}

#map {
    border-radius: 10px;
    width:590px;
    height: 590px;
}

.section-right {
    
    width: 800px;
    height: 712px;
}

.section-right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 38px;
    border: 1px solid #DFE6EB;
    border-radius: 30px;
}

.marker {
    position: relative;
    width: 13.49px;
    height: 13.65px;
    border-radius: 50% 50% 50% 0; 
    background-color: white;
    overflow: hidden;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex; /* 내부 정렬용 */
    justify-content: center;
    align-items: center;
    margin-right: 11.25px;

}

.food-marker {
    width: 90%;
    height: 90%;
    background-image: url("../image/food-marker.jpg"); /* 확장자 다시 확인! */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
    border-radius: 50%;
}

.section-right-title > span {
    font-size: 14px;
    font-weight: 400;
}

.section-right-search {}

.section-right-search > input {
    width: 700px;
    height: 54px;
}

.section-right-search > button {}

.section-right-hashtag {}

.section-right-cardlist {}

.section-right-cardlist > .stores-card {}

.section-right-cardlist > .stores-card > div {}

.section-right-cardlist > .stores-card > p {}


