<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODAY-CHEON</title>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/detail.css">
  <link rel="stylesheet" href="/css/map.css">
</head>

<body>
  <header>
    <div class="header-left">
      <i class="logo-icon"></i>
      <a href="/">TODAY-CHEON</a>
    </div>
    <div class="header-right">
      <button onclick="location.href = `/store/create`">맛집 등록</button>
      {% if userInfo and userInfo | length > 0 %}
      {% if userInfo.role == "ADMIN" %}
      <button class="admin-btn">관리자</button>
      {% endif %}
      <button class="logout-btn" type="button">로그아웃</button>
      {% else %}
      <button onclick="location.href = `/auth/login`">로그인</button>
      {% endif %}
    </div>
  </header>

  <main>
    <section class="detail-container">
      <div class="info">
        <div class="title">{{title}}</div>
        <div class="content">{{content}}</div>
        <div class="score">
          <span class="score-stars" data-rating="{{avgTotal}}"></span>
          <span class="score-average">{{avgTotal}}</span>
          <span class="score-total">{{reviewCount}}명의 평가</span>
        </div>
      </div>

      <div class="grid-2x2">
        <div class="grid-left">
          <div id="map" class="kakaomap"></div>
          <ul class="store">
            <li>📞 {{telNumber}}</li>
            <li>💡 {{hashTag}}</li>
            <li>📍 {{address}}</li>
            <li>🕒 {{eatingTime}}</li>
            <li>📋 예약 가능 · 주차 가능</li>
            <li>🚫 포장/배달 불가</li>
          </ul>
        </div>
        <div class="grid-right">
          {% if photoUrls.length == 0 %}
          <p>아직 리뷰 이미지가 없어요 ㅜㅜ</p>
          {% else %}
          {% for photo in photoUrls %}
          <img src="../{{ photo }}" alt="">
          {% endfor %}
          {% endif %}
        </div>
        <div class="grid-score">
          <div class="score-area">
            <div class="grid-total">{{avgTotal}}</div>
            <div class="grid-stars" data-rating="{{avgTotal}}"></div>
            <div class="grid-desc">{{reviewCount}}건의 리뷰가 작성되었습니다.</div>
          </div>
          <div class="bar-area">
            <div class="bar-item">
              <div class="bar" data-score="{{avgTaste}}"></div>
              <div>맛<span class="bar-label">{{avgTaste}}</span></div>
            </div>
            <div class="bar-item">
              <div class="bar" data-score="{{avgPrice}}"></div>
              <div>가격<span class="bar-label">{{avgPrice}}</span></div>
            </div>
            <div class="bar-item">
              <div class="bar" data-score="{{avgService}}"></div>
              <div>응대<span class="bar-label">{{avgService}}</span></div>
            </div>
          </div>
        </div>
        <script src="/js/detail.js"></script>
        <div class="grid-menu">
          <div class="menu-name">메뉴정보</div>
          <input type="checkbox" id="more-toggle" hidden>
          <div class="menu-grid">
            {% for item in storeMenu %}
            <span>{{ item.NAME }}</span>
            <span class="price">{{ item.PRICE }}원</span>
            {% endfor %}
            <div class="hidden-items">
            </div>
          </div>
          <div class="more-button-area">
            <label for="more-toggle" class="more-link">
              <span class="text show-text">더보기</span>
              <span class="text hide-text">접기</span>
              <i class="more-icon"></i>
            </label>
          </div>
        </div>
      </div>

      <form class="review-form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="store_id" value="{{storeId}}">
        <h2>리뷰 작성</h2>
        <div class="review-top-section">
          <div class="review-scores-wrapper">
            <h4 class="field-title">별점 <span id="require-dot">*</span></h4>
            <div class="review-scores">
              <fieldset class="radio-group"><span>맛</span>
                <label class="radio-label"><input type="radio" name="taste" value="1">1점</label>
                <label class="radio-label"><input type="radio" name="taste" value="2">2점</label>
                <label class="radio-label"><input type="radio" name="taste" value="3">3점</label>
                <label class="radio-label"><input type="radio" name="taste" value="4" checked>4점</label>
                <label class="radio-label"><input type="radio" name="taste" value="5">5점</label>
              </fieldset>
              <fieldset class="radio-group"><span>가격</span>
                <label class="radio-label"><input type="radio" name="price" value="1">1점</label>
                <label class="radio-label"><input type="radio" name="price" value="2">2점</label>
                <label class="radio-label"><input type="radio" name="price" value="3">3점</label>
                <label class="radio-label"><input type="radio" name="price" value="4" checked>4점</label>
                <label class="radio-label"><input type="radio" name="price" value="5">5점</label>
              </fieldset>
              <fieldset class="radio-group"><span>응대</span>
                <label class="radio-label"><input type="radio" name="service" value="1">1점</label>
                <label class="radio-label"><input type="radio" name="service" value="2">2점</label>
                <label class="radio-label"><input type="radio" name="service" value="3">3점</label>
                <label class="radio-label"><input type="radio" name="service" value="4" checked>4점</label>
                <label class="radio-label"><input type="radio" name="service" value="5">5점</label>
              </fieldset>
            </div>
          </div>
          <div class="review-menu-wrapper">
            <h4 class="field-title">어떤 메뉴를 먹었나요? <span id="require-dot">*</span></h4>
            <textarea name="menu" rows="5" placeholder="메뉴를 입력해주세요."></textarea>
          </div>
        </div>
        <h4 class="field-title">리뷰 내용 <span id="require-dot">*</span></h4>
        <textarea name="content" rows="5" placeholder="비속어, 비방하는 리뷰는 삭제될 수 있습니다."></textarea>
        <h4 class="field-title">메뉴 사진 <span id="require-dot">*</span></h4>
        <div class="photo-drop" id="upload-div">
          <img src="/image/upload_icon.png" alt="" width="50px" height="50px">
          <input type="file" id="file-input" name="image" accept="image/*">
          <div class="drop-hint">맛있게 드셨나요?</div>
        </div>
        <button type="submit" class="btn-submit">리뷰 남기기</button>
      </form>

      <div class="review-list">
        <h3>리뷰 목록</h3>
        {% for review in reviews %}
        <div class="review-card">
          <div class="card-title">
            <div class="avatar"><img src="../image/cafe.png" alt="프로필 이미지"></div>
            <div class="user-info">사용자 {{ review.USER_ID }}</div>
          </div>
          <div class="card-contents">
            <div class="card-left">
              <span class="card-stars">★★★★☆</span>
              <span class="card-score">{{ ((review.POINT_01 + review.POINT_02 + review.POINT_03) / 3).toFixed(1)
                }}점</span>
              &nbsp;<span class="card-created">{{ review.CREATED_AT }}</span>
              <p class="card-text">{{ review.CONTENT }}</p>
              <div class="tags">
                <span class="tag-item">맛:</span><span>{{ review.POINT_01 }}점</span><span> | </span>
                <span class="tag-item">가격:</span><span>{{ review.POINT_02 }}점</span><span> | </span>
                <span class="tag-item">응대:</span><span>{{ review.POINT_03 }}점</span><span> | </span>
              </div>
              <div class="ordered-menu">주문한 메뉴:</div>
              <div>{{ review.ORDERED_ITEM }}</div>
            </div>
            <div class="card-right">
              {% if review.Pictures and review.Pictures.length > 0 %}
              {% for picture in review.Pictures %}
              <img src="/{{ picture.URL }}" alt="리뷰 사진">
              {% endfor %}
              {% else %}
              <img src="../image/cafe.png">
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-left">
      <p>©2025 To choen(Ho)</p>
    </div>
    <div class="footer-middle">
      <a>개인정보처리방침</a>
      <a>이용약관</a>
      <a>문의하기</a>
    </div>
    <div class="footer-right">
      <i class="linktree-icon"></i>
      <i class="github-icon"></i>
    </div>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=04fd39e295af49fa4ea7997c9d242b5f&libraries=services"></script>
<script src="../js/detailMap.js"></script>
<script src="../js/logout.js"></script>
<script src="../js/admin.js"></script>

</html>