<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODAY-CHEON</title>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <div class="header-left">
            <i class="logo-icon"></i>
            <a href="/">TODAY-CHEON</a>
        </div>
        <div class="header-right">
            <a>메뉴</a>
            {% if userInfo and userInfo.role %}
            <button class="logout-btn" type="button">로그아웃</button>
            {% else %}
            <button onclick="location.href = `/auth/login`">로그인</button>
            {% endif %}
            
        </div>
    </header>
    <main>
        <div class="section-left">
            <div class="section-left-title">
                <i class="google-marker"></i>
                <span>Today-choen(Ho) Map</span>
            </div>
            <p>천호 근처의 <span>맛집을</span> 찾아보세요!</p>
            <div id="map"></div>
        </div>

        <div class="section-right">
            <div class="section-right-title">
                <div class="marker">
                    <div class="food-marker"></div>
                </div>
                <span>Today-choen(Ho) List</span>
            </div>
            <form action="/" class="section-right-search" method="post">
                <input type="text" id="searchInput" name="stores" placeholder="음식점 리스트를 입력하세요">
                <button type="submit" class="search-btn"></button>
            </form>
            <div class="section-right-hashtag">
                <!-- 아래는 js으로 치면 배열 선언임 -->
                {% set tags = ["디저트","국밥","카페","중식","한식","양식"] %}
                <!-- 태그를 순회하며 a태그들을 만드는데 이때 내가 server.js에서 준 stores의 정보와 일치하다면 클래스명에 on을 붙여줌 -->
                {% for tag in tags %}
                    <a href="#" class="hashtag {% if stores == tag %}on{% endif %}">#{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="section-right-cardlist">
                {% for store in data %}
                    <div class="stores-card">
                        <div class="stores-card-image"></div>
                        <a href="/detail/{{ store.ID }}" class="stores-card-title">{{ store.NAME }}</a>
                        <div class="stores-card-hashtag">
                            <p>{{ store.HASH_TAG }}</p>
                            <p># 핫</p>
                            <p>#{{ store.CATEGORY }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-left">
            <p>©2025 To choen(Ho)</p>
        </div>
        <div class="footer-middle">
            <a>개인정보처리방침</a>
            <a>이용약관</a>
            <a>문의하기</a>
        </div>

        <div class="footer-right">
            <i class="linktree-icon"></i>
            <i class="github-icon"></i>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=04fd39e295af49fa4ea7997c9d242b5f&libraries=services"></script>
    <script src="./js/hashTag.js"></script>
    <script src="./js/logout.js"></script>
    <!-- 아래는 서버에서 받아온 데이터를 mainmap 에서 받아올 수 있게 처리하는 구문-->
    <script> const storesData = JSON.parse('{{ data | dump | safe }}'); </script>
    <script src="./js/mainMap.js"></script>
</body>
</html>