<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODAY-CHEON</title>
    <link rel="stylesheet" href="../public/css/font.css">
    <link rel="stylesheet" href="../public/css/common.css">
</head>
<body>
    <header>
        <div class="header-left">
            <i class="logo-icon"></i>
            <p>TODAY-CHEON</p>
        </div>
        <div class="header-right">
            <a>메뉴</a>
            <button>로그인</button>
        </div>
    </header>
    <main>
    </main>
    <footer>
        <div class="footer-left">
            <p>©2025 To choen(Ho)</p>
        </div>
        <div class="footer-middle">
            <a>개인정보처리방침</a>
            <a>이용약관</a>
            <a>문의하기</a>
        </div>

        <div class="footer-right">
            <i class="linktree-icon"></i>
            <i class="github-icon"></i>
        </div>
    </footer>
</body>
</html>