body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}

main {
    padding: 60px 0px;
}

main>#inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}